body,
html {
    margin: 0;
    padding: 0;
}

.center-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.btn-form {
    width: 200px;
    margin: 10px;
}

.center-form {
    align-items: center;
    justify-content: center;
}

.mt {
    margin-top: 10%;
}

.title-card {
    color:#00ac68;
    font-size: 2.5em;
    line-height: 1.5em;
    font-family: sans-serif;
    margin: 0;
    position: relative;
}